<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <title>::: Layout :::</title>
</head>
<body>
    <main>
        <header>
            <p class="p1">BARRA DE HERRAMIENTAS</p>
        </header>
        <section class="styleR5">
           <section class="styleR6">
               <p class="p2">CONTENIDO SECUNDARIO</p>
           </section>
           <section class="styleR7">
                <section class="styleR8">
                    <p class="p3">SUB BARRA DE HERRAMIENTAS</p>
                </section>
                <section class="styleR9">
                    
                </section>
           </section>
        </section>
            


        </section>
    </main>
</body>
</html>